
.logoContainer img:nth-child(1){
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;

    image-rendering: crisp-edges;

    animation: logoBGRotate;
    animation-timing-function: linear;
    animation-duration: 30s;
    animation-iteration-count: infinite;
}

.logoContainer img:nth-child(2){
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;

    image-rendering: crisp-edges;
}


@keyframes logoBGRotate{
    0%{
        transform: rotate(0deg);
    }

    100%{
        transform: rotate(359deg);
    }

}

@keyframes startLoaderBG{
    0%{
        opacity: 1;

        top: 0px;
        left: 0px;
        right: 0px;
        bottom: 0px;
    }

    75%{
        opacity: 1;

        top: 0px;
        left: 0px;
        right: 0px;
        bottom: 0px;
    }

    100%{
        opacity: 0;

        top: 0px;
        left: 0px;
        right: 0px;
        bottom: 0px;
    }

}

@keyframes startLoaderImage{
    0%{
        opacity: 0;

        top: 10%;
        left: 50%;
        transform: translateX(-50%);
    }

    10%{
        opacity: 0;

        top: 10%;
        left: 50%;
        transform: translateX(-50%);
    }

    25%{
        opacity: 1;

        top: 10%;
        left: 50%;
        transform: translateX(-50%);
    }

    75%{
        opacity: 1;

        top: 10%;
        left: 50%;
        transform: translateX(-50%);
    }

    100%{
        opacity: 0;

        top: 10%;
        left: 50%;
        transform: translateX(-50%);
    }

}

@keyframes startLoaderFlyIn{
    0%{
        left: -200px;
    }

    70%{
        left: -200px;
    }

    100%{
        left: 20px;
    }

}

.startLoader{
    position: fixed;
    top: -10000px;
    left: -10000px;
    right: 10000px;
    bottom: 10000px;

    z-index: 999999999;

    background: #FFFFFF;

    animation: startLoaderBG;
    animation-duration: 3s;
}

.startLoaderCover{
    position: fixed;
    top: -10000px;
    left: -10000px;
    right: 10000px;
    bottom: 10000px;

    background: linear-gradient(to bottom, #FFEFD1, transparent, transparent, transparent , #FFEFD1);

    animation: startLoaderBG;
    animation-duration: 3s;
}

.startLoaderImageContainer{
    position: fixed;
    top: -1000px;
    left: -1000px;


    animation: startLoaderImage;
    animation-duration: 3s;
}

.startLogoImage{
    position: relative;

    width: 400px;
    height: 400px;

    overflow: hidden;
}

.headerLogo img:nth-child(1),
.startLogoImage img:nth-child(1){
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;

    image-rendering: crisp-edges;

    animation: logoBGRotate;
    animation-timing-function: linear;
    animation-duration: 30s;
    animation-iteration-count: infinite;
}

.headerLogo img:nth-child(2),
.startLogoImage img:nth-child(2){
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}

.headerLogoContainer{
    position: absolute;
    left: 20px;
    top: 10px;

    animation: startLoaderFlyIn;
    animation-duration: 3.2s;
}

.headerLogo{
    position: relative;
    display: inline-block;
    vertical-align: center;

    width: 150px;
    height: 150px;

    overflow: hidden;
}

.headerName{
    display: inline-block;
    vertical-align: center;
}