/*
    =====================
            Colors
    =====================
*/
x-test {
  background-color: deepskyblue; }

body {
  grid-template-rows: 85vh auto; }

@media only screen and (min-width: 1140px) {
  header div.endevLogo {
    left: 150px;
    top: 30vh;
    height: 200px;
    width: 772px;
    background-size: auto 200px; } }

@media only screen and (max-width: 1140px) {
  header div.endevLogo {
    top: 100px;
    height: 40px;
    width: 40px;
    background-size: auto 40px; } }

@media only screen and (max-width: 690px) {
  header div.endevLogo {
    top: 100px;
    height: 40px;
    width: 40px;
    background-size: auto 40px; } }

header.sticky {
  height: 50px;
  background-size: 100vw 85vh; }

@media only screen and (max-width: 1140px) {
  nav {
    height: 50px; }
    nav a {
      line-height: 50px; }
  nav.default {
    top: 100px; } }

@media only screen and (min-width: 1140px) {
  nav {
    height: 50px; }
    nav a {
      line-height: 50px; }
  nav.default {
    top: 100px; } }

footer {
  height: 200px; }
