x-md {
    a {
        text-decoration: none;
        color: dodgerblue;

        h1::before, h2::before, h3::before, h4::before, h5::before, h6::before {
            content: "🔗";
            font-size: 0.8em;
            visibility: visible;
            opacity: 0;
            transition: opacity 0.4s ease-in-out;
        }
    }

    a:hover {
        h1::before, h2::before, h3::before, h4::before, h5::before, h6::before {
            opacity: 1;
            transition: opacity 0.1s ease-in-out;
        }

        color: dodgerblue;
        text-decoration: underline;
    }
     
    h1, h2, h3, h4, h5, h6 {
        font-weight: 600;
        margin: 5px;
        text-align: left;
        padding-bottom: .3em;
        margin-top: 24px;
        margin-bottom: 16px;
    }

    h1, h2 {
        border-bottom: 1px solid #eaecef;
    }

    x-md > :first-child {
        margin-top: 0 !important;
    }

    h1 {
        font-size: 2em;
    }

    h2 {
        font-size: 1.5em;
    }

    h3 {
        font-size: 1.25em;
    }

    h4 {
        font-size: 1em;
    }

    h5 {
        font-size: .875em;
    }

    h6 {
        font-size: .85em;
    }
}

h1, h2, h3, h4, h5, h6 {
    font-weight: lighter;
    box-sizing: border-box;
}

h1, h2, h3 {
    text-align: center;
    
}

h4, h5, h6 {
    text-align: left;
    
}

h1 {
    font-size: 3em;
    margin: 20px 0;
}

h2 {
    font-size: 2.4em;
    margin: 15px 0;
}

h3 {
    font-size: 1.9em;
    margin: 10px 0;
}

h4 {
    font-size: 1.5em;
    margin: 8px 0;
}

h5 {
    font-size: 1.2em;
    margin: 6px 0;
}

h6 {
    font-size: 0.9em;
    margin: 0;
}

x-error, x-warning, x-question, x-info, x-success {
    width: 90%;
    font-size: 2em;
    display: block;
    text-align: center;
    padding: 5px;
    font-weight: lighter;
    margin: 3px auto;
    box-sizing: border-box;
}

x-error {
    background-color: rgba(255, 0, 0, 0.5);
}

x-error::before {
    content: "❌ ";
}

x-warning {
    background-color: rgba(227, 185, 0, 0.5);
}

x-warning::before {
    content: "⚠ ";
}

x-question {
    background-color: rgba(0, 100, 255, 0.5);
}

x-question::before {
    content: "❓ ";
}

x-info {
    background-color: rgba(0, 205, 255, 0.5);
}

x-info::before {
    content: "ℹ ";
}

x-success {
    background-color: rgba(0, 255, 0, 0.5);
}

x-success::before {
    content: "✔ ";
}


 