@import 'commonVariables';

$defaultHeaderHeight: 200px;
$defaultFooterHeight: 200px;
$defaultNavHeight: 50px;
$defaultNavTopOffset: 50px;

$defaultLogoTopOffset: 50px;
$defaultLogoLeftOffset: 50px;
$defaultLogoHeight: 100px;


html{
    overflow-x: hidden;
    min-width: 300px;
}

html::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.1);
    background-color: #777;
    border-radius: 10px;
}

html::-webkit-scrollbar {
    width: 10px;
    background-color: #777;
}

html::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #222;
    z-index: 110;
}

body {
    margin: 0;
    background-color: white;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: "header" "main";
    grid-template-rows: $defaultHeaderHeight auto;
}

header {
    overflow: hidden;
    grid-area: header;
    background: rgb(0,18,89);
    background: -moz-linear-gradient(80deg, rgba(0,18,89,1) 2%, rgba(19,5,175,1) 5%, rgba(86,12,170,1) 20%, rgba(10,164,125,1) 45%, rgba(10,164,125,1) 55%, rgba(86,12,170,1) 80%, rgba(19,5,175,1) 95%, rgba(0,18,89,1) 98%);
    background: -webkit-linear-gradient(80deg, rgba(0,18,89,1) 2%, rgba(19,5,175,1) 5%, rgba(86,12,170,1) 20%, rgba(10,164,125,1) 45%, rgba(10,164,125,1) 55%, rgba(86,12,170,1) 80%, rgba(19,5,175,1) 95%, rgba(0,18,89,1) 98%);
    background: linear-gradient(80deg, rgba(0,18,89,1) 2%, rgba(19,5,175,1) 5%, rgba(86,12,170,1) 20%, rgba(10,164,125,1) 45%, rgba(10,164,125,1) 55%, rgba(86,12,170,1) 80%, rgba(19,5,175,1) 95%, rgba(0,18,89,1) 98%);
    z-index: 110;

    h1 {
        position: absolute;
        width: 100%;
        text-align: center;
        color: white;
        top: 30vh;
        font-size: 120pt;
        text-shadow: 0px 0px 30px black;
    }

    div#headerBGImage {
        overflow: hidden;
        display: none;
        position: absolute;
        width: 100%;
        height: 80vh;
        background-attachment: fixed;
        background-position-y: -10vh;
        background-size: cover;
        

    }

    div#bannerCover {
        display: none;
        position: absolute;
        width: 100%;
        height: 80vh;
        background-color: #000032;
        opacity: 0.1
    }

    div.endevLogo {
        position: absolute;
        margin: 5px;
        animation: endevLogoFadeIn;
        animation-duration: 0.5s;
        animation-iteration-count: 1;
        background-repeat: no-repeat;

        @media only screen and (min-width: $navBreakpoint1) {
            left: $defaultLogoLeftOffset;
            top: $defaultLogoTopOffset;
            height: $defaultLogoHeight;
            width: $defaultLogoHeight * $fullLogoDimensionRatio;
            background-size: auto $defaultLogoHeight;
            background-image: url("../../Content/EndevBanner.png");
        }

        @media only screen and (max-width: $navBreakpoint1) {
            left: 20px;
            top: $defaultNavTopOffset;
            height: #{$defaultNavHeight - 10px};
            width: #{$defaultNavHeight - 10px};
            background-size: auto #{$defaultNavHeight - 10px};
            background-image: url("../../Content/EndevBannerLogoOnly.png");
            z-index: 121;
        }

        @media only screen and (max-width: $navBreakpoint2) {
            left: 20px;
            top: $defaultNavTopOffset;
            height: #{$defaultNavHeight - 10px};
            width: $defaultNavHeight * $fullLogoDimensionRatio;
            background-size: auto #{$defaultNavHeight - 10px};
            background-image: url("../../Content/EndevBanner.png");
            z-index: 121;
        }
    }

    div.endevLogoSticky {
        position: fixed;
        left: 20px;
        top: 0;
        height: $defaultNavHeight - 10px;
        margin: 5px;
        opacity: 1;
        animation: endevLogoFadeIn;
        animation-duration: 0.5s;
        animation-iteration-count: 1;
        background-size: auto #{$defaultNavHeight - 10px};
        background-repeat: no-repeat;
        z-index: 121;

        @media only screen and (min-width: $navBreakpoint1) {
            background-image: url("../../Content/EndevBanner.png");
            width: 120px;
        }

        @media only screen and (max-width: $navBreakpoint1) {
            background-image: url("../../Content/EndevBannerLogoOnly.png");
            width: 40px;
        }

        @media only screen and (max-width: $navBreakpoint2) {
            background-image: url("../../Content/EndevBanner.png");
            width: 120px;
        }
    }
}

@keyframes endevLogoFadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

header.sticky {
    height: $defaultNavHeight;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-position: bottom;
    background-size: 100vw $defaultHeaderHeight;
}

main {
    grid-area: main;
    background-color: white;
    min-height: 100vh;
    margin-bottom: $defaultFooterHeight;
    z-index: 100;
    padding: 20px 20%;
}

nav {


    transition: width 0.2s ease-in-out;

    div.fullWidthMenu, div.mobileMenu {
        box-sizing: border-box;
        z-index: 120;
        background: rgb(0,0,0);
        background: -moz-linear-gradient(90deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.5) 5%);
        background: -webkit-linear-gradient(90deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.5) 5%);
        background: linear-gradient(90deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.5) 5%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000",endColorstr="#000000",GradientType=1);
        color: #eee;
        padding-left: 50px;

        a {
            font-weight: bolder;
            color: #ccc;
            text-decoration: none;
            text-align: center;
            display: inline-block;
            margin: 0;
            transition: color 0.4s ease-in-out;
        }

        a:hover {
            transition: color 0.1s ease-in-out;
            color: #fff;
        }
    }

    div.mobileMenu {
        position: relative;

        span {
            width: calc(100% - 20px);
            text-align: center;
            display: inline-block;
            padding-left: 40px;
            box-sizing: border-box;
        }

        a {
            right: 0;
            width: 20px;
            display: inline-block;
            text-align: right;
        }

        input {
            display: none;
        }

        div.mobileMenuOverlay {
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: rgba(0, 0, 0, 0.96);
            display: none;
            z-index: 200;

            a {
                width: 100%;
                line-height: 12vh;
                height: 12vh;
                display: block;
                text-align: center;
            }

            label {
                position: absolute;
                bottom: 0;
                left: 0;
                right: 0;


                a {
                    color: white;
                }
            }
        }

        font-size: 20pt;
        padding-right: 20px;
    }

    @media only screen and (min-width: $navBreakpoint2) {
        div.fullWidthMenu {
            display: block;
        }

        div.mobileMenu {
            display: none;
        }
    }

    @media only screen and (max-width: $navBreakpoint2) {
        div.fullWidthMenu {
            display: none;
        }

        div.mobileMenu {
            display: block;
        }
    }
}

nav.default {
    position: absolute;
}

nav.sticky {
    position: fixed;
}



// Desktop small
@media only screen and (max-width: $navBreakpoint1) {

    nav {
        width: 100%;
        padding-left: 50px;
        height: $defaultNavHeight;

        a {
            line-height: $defaultNavHeight;
            height: 100%;
            width: 100px;
        }
    }

    nav.default {
        top: $defaultNavTopOffset;
        right: 0;
    }

    nav.sticky {
        top: 0;
        right: 0;
    }
}

// Desktop full
@media only screen and (min-width: $navBreakpoint1) {

    nav {
        width: 60%;
        padding-left: 50px;
        height: $defaultNavHeight;

        a {
            line-height: $defaultNavHeight;
            height: 100%;
            width: 100px;
        }
    }

    nav.default {
        top: $defaultNavTopOffset;
        right: 0;
    }

    nav.sticky {
        top: 0;
        right: 0;
    }
}

footer {
    position: fixed;
    background-color: #111;
    color: white;
    bottom: 0;
    left: 0;
    right: 0;
    height: $defaultFooterHeight;
    z-index: 90;
}

aside {
    position: absolute;
    width: 200px;
    min-height: 200px;
    border: 1px solid #aaa;
    border-radius: 20px;
    left: 10px;
    margin-top: 20vh;
    box-sizing: border-box;
    transition: top 0.005s linear;

    ul {
        padding: 0;

        li {
            position: relative;
            transition: all 0.5s ease-in-out;
            cursor: pointer;
            list-style: none;
            margin: 25px 20px;

            i {
                width: 20px;
                color: orangered;
            }
        }

        li::before {
            position: absolute;
            left: -15px;
            bottom: -8px;
            content: "";
            display: block;
            width: 0;
            height: 2px;
            background: rgb(0,18,89);
            background: -moz-linear-gradient(80deg, rgba(0,18,89,1) 2%, rgba(19,5,175,1) 5%, rgba(86,12,170,1) 20%, rgba(10,164,125,1) 45%, rgba(10,164,125,1) 55%, rgba(86,12,170,1) 80%, rgba(19,5,175,1) 95%, rgba(0,18,89,1) 98%);
            background: -webkit-linear-gradient(80deg, rgba(0,18,89,1) 2%, rgba(19,5,175,1) 5%, rgba(86,12,170,1) 20%, rgba(10,164,125,1) 45%, rgba(10,164,125,1) 55%, rgba(86,12,170,1) 80%, rgba(19,5,175,1) 95%, rgba(0,18,89,1) 98%);
            background: linear-gradient(80deg, rgba(0,18,89,1) 2%, rgba(19,5,175,1) 5%, rgba(86,12,170,1) 20%, rgba(10,164,125,1) 45%, rgba(10,164,125,1) 55%, rgba(86,12,170,1) 80%, rgba(19,5,175,1) 95%, rgba(0,18,89,1) 98%);
            transition: all 0.5s ease-in-out;
        }

        li:hover {
            margin-left: 30px;
            margin-right: 0;
            transition: all 0.1s ease-in-out;
            color: rgba(19,5,175,1);
        }

        li:hover::before {
            width: 100%;
            transition: all 0.1s ease-in-out;
        }
    }
}
