<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Endix Development</title>
    <link href="~/Shared/Styles/style.css" rel="stylesheet" />
    <link href="~/Shared/Styles/layoutMain.css" rel="stylesheet" />
</head>
<body>
    <header>
        <div class="endevHeaderLogo">
            <img src="https://development.endix.at/wp-content/uploads/2019/12/EndevBannerS.png" alt="Alternate Text" />
        </div>
        <nav>
            <a href="~/">Home</a>
            <a href="~/">Projects</a>
            <a href="~/">Support</a>
            <a href="~/">Downloads</a>
            <a href="~/">Contact</a>
            <a href="~/">More</a>
        </nav>

    </header>
    <main>@RenderBody()</main>
    <footer></footer>
</body>
</html>
