@{
    Layout = "~/Shared/Layouts/_Layout.cshtml";
    Page.Title = "More";
}

<h1>More</h1>

<b>Elements</b>
<ul>
    <li><a href="~/TestPages/TextElements.cshtml">Text-Elements</a></li>
    <li><a href="~/TestPages/FormElements.cshtml">Form-Elements</a></li>
</ul>
<br />
<b>Test-Pages</b>
<ul>
    <li><a href="~/TestPages/DefaultPage.cshtml">DefaultPage</a></li>
    <li><a href="~/TestPages/ContentPAge.cshtml">ContentPage</a></li>
    <li><a href="~/TestPages/AdvancedProject.cshtml">AdvancedProjectPage</a></li>
    <li><a href="~/TestPages/SimpleProject.cshtml">SimpleProjectPage</a></li>
</ul>