@{
    Layout = "~/Shared/Layouts/_Layout.cshtml";
    Page.Title = "Projects";
}

<div class="stagFade">

    @if (Request.Params["project"] == null)
    {
        @RenderPage("~/Sites/SubSites/projectsOverview.cshtml");
    }
    else
    {

    }

</div>