###############################
###############################
##    Apache Server Config   ##
##        KEEP ORDERED       ##
###############################
###############################

RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f

###############################
#         URL Rewrites        #
###############################

RewriteRule ^project/([a-zA-Z0-9-]+)/Overview$ project.php?projectID=$1&page=0 [NC,QSA,L]
RewriteRule ^project/([a-zA-Z0-9-]+)/Support$ project.php?projectID=$1&page=1 [NC,QSA,L]
RewriteRule ^project/([a-zA-Z0-9-]+)/Issues$ project.php?projectID=$1&page=2 [NC,QSA,L]
RewriteRule ^project/([a-zA-Z0-9-]+)/Downloads$ project.php?projectID=$1&page=3 [NC,QSA,L]
RewriteRule ^project/([a-zA-Z0-9-]+)/Version-History$ project.php?projectID=$1&page=4 [NC,QSA,L]
RewriteRule ^project/([a-zA-Z0-9-]+)/Tech-Info$ project.php?projectID=$1&page=5 [NC,QSA,L]
RewriteRule ^project/([a-zA-Z0-9-]+)/License$ project.php?projectID=$1&page=6 [NC,QSA,L]


RewriteRule ^s$ support.php [NC,QSA,L]
RewriteRule ^s/([a-zA-Z0-9-]+) supportForm.php?projectID=$1 [NC,QSA,L]

RewriteRule ^p$ projects.php [NC,QSA,L]
RewriteRule ^p/([a-zA-Z0-9-]+) project.php?projectID=$1 [NC,QSA,L]

RewriteRule ^support/form$ supportForm.php [NC,QSA,L]
RewriteRule ^support/faq/([a-zA-Z0-9-]+) faq.php?id=$1 [NC,QSA,L]
RewriteRule ^support/([a-zA-Z0-9-]+) support.php?page=$1 [NC,QSA,L]

# Invalid Subpage
RewriteRule ^project/([a-zA-Z0-9-]+)/([a-zA-Z0-9-]+) project.php?projectID=$1&page=-1 [NC,QSA,L]

RewriteRule ^project/([a-zA-Z0-9-]+) project.php?projectID=$1 [NC,QSA,L]
RewriteRule ^download/([a-zA-Z0-9-]+) download.php?projectID=$1 [NC,QSA,L]

#Ignore .php-Extension
RewriteRule ^([^\.]+)$ $1.php [NC,L]

###############################
#    Forbidden Directories    #
###############################
RewriteRule (^|/)vendor(/|$) - [F]
RewriteRule (^|/)data(/|$) - [F]
RewriteRule (^|/)layouts(/|$) - [F]
RewriteRule (^|/)libraries(/|$) - [F]
RewriteRule (^|/)testPages(/|$) - [F]
RewriteRule (^|/)templates(/|$) - [F]

###############################
#       Error Ducuments       #
###############################
# ERROR 400: Bad Request
ErrorDocument 400 /error400.php

# ERROR 401: Unauthorised
ErrorDocument 401 /error401.php

# ERROR 403: Forbidden
ErrorDocument 403 /error403.php

# Error 404: Not Found
ErrorDocument 404 /error404.php

# Error 500: Internal Server Error
ErrorDocument 500 /error500.php
