@* Shared Stylesheets*@
<link href="~/Shared/Styles/style.min.css" rel="stylesheet" />
<link href="~/Shared/Styles/textElements.min.css" rel="stylesheet" />
<link href="~/Shared/Styles/formElements.min.css" rel="stylesheet" />
<link href="~/Shared/Styles/layoutGeneral.min.css" rel="stylesheet" />

@* External Stylesheets *@
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

@* Shared scripts *@
<script src="~/Shared/Scripts/PageLayout.js"></script>

@* External scripts *@

@* Meta-Tags *@
<meta name="viewport" content="width=device-width" />

@* Other *@
<title>@Page.Title</title>