<nav>
    @*
    <a href="~/">Home</a>
    <a href="~/">Projects</a>
    <a href="~/">Support</a>
    <a href="~/">Downloads</a>
    <a href="~/">Contact</a>
    <a href="~/">More</a>
    *@
    <a href="~/">Home</a>
    <a href="~/TestPages/SimpleProject.cshtml">S. Project</a>
    <a href="~/TestPages/AdvancedProject.cshtml">A. Project</a>
    <a href="~/TestPages/ContentPage.cshtml">Content</a>
</nav>