<nav class="default">
    <div class="fullWidthMenu">
        <a href="~/">Home</a>
        <a href="~/Sites/projects.cshtml">Projects</a>
        <a href="~/Sites/support.cshtml">Support</a>
        <a href="~/Sites/downloads.cshtml">Downloads</a>
        <a href="~/Sites/contact.cshtml">Contact</a>
        <a href="~/Sites/more.cshtml">More</a>
    </div>
    <div class="mobileMenu stagFade">
        <label for="toggleMobileMenuOverlay"><span>@Page.Title</span><a><i class="fa fa-bars"></i></a></label>
        <input type="checkbox" id="toggleMobileMenuOverlay" onchange="ShowElementIfChecked(this, 'mobileMenuOverlay')"/>
        <div class="mobileMenuOverlay" id="mobileMenuOverlay">
            <a href="~/">Home</a>
            <a href="~/Sites/projects.cshtml">Projects</a>
            <a href="~/Sites/support.cshtml">Support</a>
            <a href="~/Sites/downloads.cshtml">Downloads</a>
            <a href="~/Sites/contact.cshtml">Contact</a>
            <a href="~/Sites/more.cshtml">More</a>
            <label for="toggleMobileMenuOverlay"><a>Close</a></label>
        </div>
    </div>
</nav>

<!-- Required for menu-top-stick -->
<nav class="default" style="display: none;"></nav>