$headerHeight: 50px;
$footerHeight: 200px;
$navHeight: 50px;
$navTopOffset: 0px;

$logoTopOffset: 0;
$logoLeftOffset: 20px;
$logoHeight: 40px;

body {
    grid-template-rows: $headerHeight auto;
}

header {
    img.endevLogo {
        left: $logoLeftOffset;
        top: $logoTopOffset;
        height: $logoHeight;
    }
}

header.sticky {
    height: $navHeight;
    background-size: 100vw $headerHeight;
}

main {
    margin-bottom: $footerHeight;
}

nav {
    height: $navHeight;
}

nav.default {
    top: $navTopOffset;
}

footer {
    height: $footerHeight;
}
