@import 'commonVariables';

$headerHeight: 80vh;
$footerHeight: 200px;
$navHeight: 50px;
$navTopOffset: 100px;

$logoTopOffset: 50px;
$logoLeftOffset: 50px;
$logoHeight: 100px;

body {
    grid-template-rows: $headerHeight auto;
}

header {
    div.endevLogo {
        left: $logoLeftOffset;
        top: $logoTopOffset;
        height: $logoHeight;
        width: $logoHeight * $fullLogoDimensionRatio;

        @media only screen and (min-width: $navBreakpoint1) {
            background-size: auto $logoHeight;
        }

        @media only screen and (max-width: $navBreakpoint1) {
            background-size: auto #{$navHeight - 10px};
            left: 20px; // required -> else override
            top: $navTopOffset;
        }
    }
}

header.sticky {
    height: $navHeight;
    background-size: 100vw $headerHeight;
}

// Desktop small
@media only screen and (max-width: $navBreakpoint1) {

    nav {
        height: $navHeight;

        a {
            line-height: $navHeight;
        }
    }

    nav.default {
        top: $navTopOffset;
    }
}


// Desktop full
@media only screen and (min-width: $navBreakpoint1) {

    nav {
        height: $navHeight;

        a {
            line-height: $navHeight;
        }
    }

    nav.default {
        top: $navTopOffset;
    }
}


footer {
    height: $footerHeight;
}