html {
  overflow-x: hidden; }

html::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #777;
  border-radius: 10px; }

html::-webkit-scrollbar {
  width: 10px;
  background-color: #777; }

html::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #222;
  z-index: 110; }

body {
  margin: 0;
  background-color: white;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas: "header" "main";
  grid-template-rows: 200px auto; }

header {
  overflow: hidden;
  grid-area: header;
  background: #001259;
  background: -moz-linear-gradient(80deg, #001259 2%, #1305af 5%, #560caa 20%, #0aa47d 45%, #0aa47d 55%, #560caa 80%, #1305af 95%, #001259 98%);
  background: -webkit-linear-gradient(80deg, #001259 2%, #1305af 5%, #560caa 20%, #0aa47d 45%, #0aa47d 55%, #560caa 80%, #1305af 95%, #001259 98%);
  background: linear-gradient(80deg, #001259 2%, #1305af 5%, #560caa 20%, #0aa47d 45%, #0aa47d 55%, #560caa 80%, #1305af 95%, #001259 98%);
  z-index: 110; }
  header div.endevLogo {
    position: absolute;
    margin: 5px;
    animation: endevLogoFadeIn;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
    background-repeat: no-repeat; }
    @media only screen and (min-width: 1140px) {
      header div.endevLogo {
        left: 50px;
        top: 50px;
        height: 100px;
        width: 290px;
        background-size: auto 100px;
        background-image: url("../../Content/EndevBanner.png"); } }
    @media only screen and (max-width: 1140px) {
      header div.endevLogo {
        left: 20px;
        top: 50px;
        height: 40px;
        width: 40px;
        background-size: auto 40px;
        background-image: url("../../Content/EndevBannerLogoOnly.png");
        z-index: 121; } }
  header div.endevLogoSticky {
    position: fixed;
    left: 20px;
    top: 0;
    height: 40px;
    margin: 5px;
    opacity: 1;
    animation: endevLogoFadeIn;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
    background-size: auto 40px;
    background-repeat: no-repeat;
    z-index: 121; }
    @media only screen and (min-width: 1140px) {
      header div.endevLogoSticky {
        background-image: url("../../Content/EndevBanner.png");
        width: 120px; } }
    @media only screen and (max-width: 1140px) {
      header div.endevLogoSticky {
        background-image: url("../../Content/EndevBannerLogoOnly.png");
        width: 40px; } }

@keyframes endevLogoFadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

header.sticky {
  height: 50px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-position: bottom;
  background-size: 100vw 200px; }

main {
  grid-area: main;
  background-color: white;
  min-height: 100vh;
  margin-bottom: 200px;
  z-index: 100;
  padding: 20px 15%; }

nav {
  transition: width 0.2s ease-in-out; }
  nav div.fullWidthMenu, nav div.mobileMenu {
    box-sizing: border-box;
    z-index: 120;
    background: black;
    background: -moz-linear-gradient(90deg, transparent 0%, rgba(0, 0, 0, 0.5) 5%);
    background: -webkit-linear-gradient(90deg, transparent 0%, rgba(0, 0, 0, 0.5) 5%);
    background: linear-gradient(90deg, transparent 0%, rgba(0, 0, 0, 0.5) 5%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000",endColorstr="#000000",GradientType=1);
    color: #eee;
    padding-left: 50px; }
    nav div.fullWidthMenu a, nav div.mobileMenu a {
      font-weight: bolder;
      color: #ccc;
      text-decoration: none;
      text-align: center;
      display: inline-block;
      margin: 0;
      transition: color 0.4s ease-in-out; }
    nav div.fullWidthMenu a:hover, nav div.mobileMenu a:hover {
      transition: color 0.1s ease-in-out;
      color: #fff; }
  nav div.mobileMenu {
    font-size: 20pt;
    padding-right: 20px; }
    nav div.mobileMenu a {
      width: 100%;
      display: inline-block;
      text-align: right; }
    nav div.mobileMenu input {
      display: none; }
    nav div.mobileMenu div.mobileMenuOverlay {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: rgba(0, 0, 0, 0.96);
      display: none;
      z-index: 200; }
      nav div.mobileMenu div.mobileMenuOverlay a {
        width: 100%;
        line-height: 12vh;
        height: 12vh;
        display: block;
        text-align: center; }
      nav div.mobileMenu div.mobileMenuOverlay label {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0; }
        nav div.mobileMenu div.mobileMenuOverlay label a {
          color: white; }
  @media only screen and (min-width: 690px) {
    nav div.fullWidthMenu {
      display: block; }
    nav div.mobileMenu {
      display: none; } }
  @media only screen and (max-width: 690px) {
    nav div.fullWidthMenu {
      display: none; }
    nav div.mobileMenu {
      display: block; } }

nav.default {
  position: absolute; }

nav.sticky {
  position: fixed; }

@media only screen and (max-width: 1140px) {
  nav {
    width: 100%;
    padding-left: 50px;
    height: 50px; }
    nav a {
      line-height: 50px;
      height: 100%;
      width: 100px; }
  nav.default {
    top: 50px;
    right: 0; }
  nav.sticky {
    top: 0;
    right: 0; } }

@media only screen and (min-width: 1140px) {
  nav {
    width: 60%;
    padding-left: 50px;
    height: 50px; }
    nav a {
      line-height: 50px;
      height: 100%;
      width: 100px; }
  nav.default {
    top: 50px;
    right: 0; }
  nav.sticky {
    top: 0;
    right: 0; } }

footer {
  position: fixed;
  background-color: #111;
  color: white;
  bottom: 0;
  left: 0;
  right: 0;
  height: 200px;
  z-index: 90; }
