@supports (grid-area: auto) {

    * {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }

    html {
        scroll-behavior: smooth;
    }

    body {
        margin: 0;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 150px auto 200px;
        grid-template-areas: "." "main" ".";
    }

    header {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        background: rgb(0,18,89);
        background: -moz-linear-gradient(80deg, rgba(0,18,89,1) 2%, rgba(19,5,175,1) 5%, rgba(86,12,170,1) 20%, rgba(10,164,125,1) 45%, rgba(10,164,125,1) 55%, rgba(86,12,170,1) 80%, rgba(19,5,175,1) 95%, rgba(0,18,89,1) 98%);
        background: -webkit-linear-gradient(80deg, rgba(0,18,89,1) 2%, rgba(19,5,175,1) 5%, rgba(86,12,170,1) 20%, rgba(10,164,125,1) 45%, rgba(10,164,125,1) 55%, rgba(86,12,170,1) 80%, rgba(19,5,175,1) 95%, rgba(0,18,89,1) 98%);
        background: linear-gradient(80deg, rgba(0,18,89,1) 2%, rgba(19,5,175,1) 5%, rgba(86,12,170,1) 20%, rgba(10,164,125,1) 45%, rgba(10,164,125,1) 55%, rgba(86,12,170,1) 80%, rgba(19,5,175,1) 95%, rgba(0,18,89,1) 98%);
        background-size: auto 2200px;
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#001259",endColorstr="#001259",GradientType=1);
        display: grid;
        grid-template-columns: 2fr 3fr;
        grid-template-rows: 1fr;
        grid-template-areas: "logo menu";
        z-index: 150;
        transition: all 0.2s ease-in-out;
    }
    // Used when page is not (or little) scrolled
    .headerDefault {
        height: 150px;

        nav {
            transition: all 0.2s ease-in-out;
            margin-top: 50px;
        }

        img {
            transition: all 0.2s ease-in-out;
            margin-top: 25px;
            height: 100px;
        }
    }
    // Used when scrolled into the page
    .headerTopMost {
        height: 50px;


        nav {
            transition: all 0.2s ease-in-out;
            margin-top: 0px;
        }

        img {
            transition: all 0.2s ease-in-out;
            margin-top: 5px;
            height: 40px;
        }
    }

    .endevHeaderLogo {
        grid-area: logo;
        text-align: center;
    }

    nav {
        grid-area: menu;
        background: rgb(0,0,0);
        background: -moz-linear-gradient(90deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.5) 5%);
        background: -webkit-linear-gradient(90deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.5) 5%);
        background: linear-gradient(90deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.5) 5%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000",endColorstr="#000000",GradientType=1);
        width: 100%;
        height: 50px;
        padding-left: 50px;
        box-sizing: border-box;

        a {
            font-weight: bolder;
            color: white;
            text-decoration: none;
            text-align: center;
            line-height: 50px;
            display: inline-block;
            height: 100%;
            width: 100px;
            margin: 0;
            transition: color 0.4s ease-in-out;
        }

        a:hover {
            transition: color 0.2s ease-in-out;
            color: #38B596;
        }
    }

    main {
        grid-area: main;
        background-color: white;
        padding: 0 15%;
        z-index: 100;
    }

    footer {
        background-color: #111111;
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        height: 200px;
        z-index: 50;
    }
}
