* {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  scroll-behavior: smooth; }

.navigateToTop {
  position: fixed;
  right: -80px;
  bottom: 40px;
  width: 50px;
  height: 50px;
  font-size: 28pt;
  text-align: center;
  line-height: 40px;
  border-radius: 15px;
  color: white;
  background: #560caa;
  background: -moz-linear-gradient(45deg, #560caa 0%, #0aa47d 100%);
  background: -webkit-linear-gradient(45deg, #560caa 0%, #0aa47d 100%);
  background: linear-gradient(45deg, #560caa 0%, #0aa47d 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#560caa",endColorstr="#0aa47d",GradientType=1);
  z-index: 130;
  transition: all 0.2s ease-in-out; }

.navigateToTop:hover {
  text-shadow: 0px 5px 2px #111;
  line-height: 20px; }

.featuredProjects {
  display: block;
  margin: auto;
  width: 100%;
  text-align: center; }
  .featuredProjects label {
    position: relative;
    margin: 5px;
    display: inline-block;
    width: 345px;
    height: 195px;
    text-align: left;
    border-radius: 25px;
    overflow: hidden; }
    .featuredProjects label img {
      position: absolute;
      display: block;
      width: 100%;
      transition: all 0.5s ease-in-out; }
    .featuredProjects label span {
      position: absolute;
      display: block;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background-color: rgba(30, 144, 255, 0);
      color: white;
      padding: 10px;
      box-sizing: border-box;
      opacity: 0;
      transition: all 0.5s ease-in-out; }
      .featuredProjects label span b {
        font-size: 30pt;
        display: block;
        margin: 0;
        font-weight: normal;
        text-align: left; }
    .featuredProjects label span::after {
      content: "\A\A Click for more information";
      white-space: pre-wrap; }
    .featuredProjects label x-pnav {
      position: absolute;
      display: block;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background-color: rgba(30, 144, 255, 0);
      opacity: 0;
      cursor: default;
      transition: background-color 0.5s ease-in-out; }
      .featuredProjects label x-pnav a {
        text-decoration: none;
        line-height: 35px;
        cursor: pointer;
        display: none;
        text-align: center;
        margin: 20px auto;
        width: 200px;
        height: 35px;
        border: none;
        background-color: orange;
        color: white;
        font-size: 13pt;
        border-radius: 5px;
        transition: background-color 0.3s ease-in-out; }
      .featuredProjects label x-pnav a:hover {
        transition: background-color 0.1s ease-in-out;
        background-color: orangered; }
      .featuredProjects label x-pnav a:disabled {
        transition: background-color 0.1s ease-in-out;
        background-color: gray;
        color: lightgray; }
  .featuredProjects label:hover {
    cursor: pointer; }
    .featuredProjects label:hover img {
      width: 120%;
      transition: all 3s ease-out;
      margin-left: -10%;
      margin-top: -10%; }
    .featuredProjects label:hover span {
      opacity: 1;
      background-color: rgba(30, 144, 255, 0.7);
      transition: all 0.1s ease-in-out; }
  .featuredProjects input[type="checkbox"] {
    display: none; }
  .featuredProjects input[type="checkbox"]:checked + label {
    outline: none; }
    .featuredProjects input[type="checkbox"]:checked + label x-pnav {
      background-color: rgba(30, 144, 255, 0.9);
      transition: opacity 0.1s ease-in-out;
      opacity: 1; }
      .featuredProjects input[type="checkbox"]:checked + label x-pnav a {
        display: block; }

.projectBrowser {
  position: relative;
  background: #eeeeee;
  border-radius: 25px;
  height: 500px;
  width: 100%;
  overflow: hidden; }
  .projectBrowser ul {
    display: inline-block;
    margin: 0;
    padding: 0;
    height: 100%;
    border-right: 1px solid gray; }
    .projectBrowser ul li {
      position: relative;
      list-style: none;
      margin: 0;
      padding: 10px;
      margin-left: 0;
      margin-right: 15px;
      transition: all 0.5s ease-in-out;
      cursor: pointer; }
    .projectBrowser ul li::before {
      position: absolute;
      left: -15px;
      bottom: 0px;
      content: "";
      display: block;
      width: 0;
      height: 2px;
      background: #001259;
      background: -moz-linear-gradient(80deg, #001259 2%, #1305af 5%, #560caa 20%, #0aa47d 45%, #0aa47d 55%, #560caa 80%, #1305af 95%, #001259 98%);
      background: -webkit-linear-gradient(80deg, #001259 2%, #1305af 5%, #560caa 20%, #0aa47d 45%, #0aa47d 55%, #560caa 80%, #1305af 95%, #001259 98%);
      background: linear-gradient(80deg, #001259 2%, #1305af 5%, #560caa 20%, #0aa47d 45%, #0aa47d 55%, #560caa 80%, #1305af 95%, #001259 98%);
      transition: all 0.5s ease-in-out; }
    .projectBrowser ul li:hover {
      margin-left: 15px;
      margin-right: 0;
      transition: all 0.1s ease-in-out;
      color: #1305af; }
    .projectBrowser ul li:hover::before {
      width: 100%;
      transition: all 0.1s ease-in-out; }
  .projectBrowser div {
    display: none;
    vertical-align: top;
    padding: 10px; }
