* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    scroll-behavior: smooth;
}

.navigateToTop {
    position: fixed;
    right: -80px;
    bottom: 40px;
    width: 50px;
    height: 50px;
    font-size: 28pt;
    text-align: center;
    line-height: 40px;
    border-radius: 15px;
    color: white;
    background: rgb(86,12,170);
    background: -moz-linear-gradient(45deg, rgba(86,12,170,1) 0%, rgba(10,164,125,1) 100%);
    background: -webkit-linear-gradient(45deg, rgba(86,12,170,1) 0%, rgba(10,164,125,1) 100%);
    background: linear-gradient(45deg, rgba(86,12,170,1) 0%, rgba(10,164,125,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#560caa",endColorstr="#0aa47d",GradientType=1);
    z-index: 130;
    transition: all 0.2s ease-in-out;
}

.navigateToTop:hover {
    text-shadow: 0px 5px 2px #111;
    line-height: 20px;
}

.featuredProjects {
    display: block;
    margin: auto;
    width: 100%;
    text-align: center;

    label {
        position: relative;
        margin: 5px;
        display: inline-block;
        width: 345px;
        height: 195px;
        text-align: left;
        border-radius: 25px;
        overflow: hidden;


        img {
            position: absolute;
            display: block;
            width: 100%;
            transition: all 0.5s ease-in-out;
        }

        span {
            position: absolute;
            display: block;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            background-color: rgba(30, 144, 255, 0);
            color: white;
            padding: 10px;
            box-sizing: border-box;
            opacity: 0;
            transition: all 0.5s ease-in-out;

            b {
                font-size: 30pt;
                display: block;
                margin: 0;
                font-weight: normal;
                text-align: left;
            }
        }

        span::after {
            content: "\A\A Click for more information";
            white-space: pre-wrap;
        }

        x-pnav {
            position: absolute;
            display: block;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            background-color: rgba(30, 144, 255, 0);
            opacity: 0;
            cursor: default;
            transition: background-color 0.5s ease-in-out;

            a {
                text-decoration: none;
                line-height: 35px;
                cursor: pointer;
                display: none;
                text-align: center;
                margin: 20px auto;
                width: 200px;
                height: 35px;
                border: none;
                background-color: orange;
                color: white;
                font-size: 13pt;
                border-radius: 5px;
                transition: background-color 0.3s ease-in-out;
            }

            a:hover {
                transition: background-color 0.1s ease-in-out;
                background-color: orangered;
            }

            a:disabled {
                transition: background-color 0.1s ease-in-out;
                background-color: gray;
                color: lightgray;
            }
        }
    }

    label:hover {
        cursor: pointer;

        img {
            width: 120%;
            transition: all 3s ease-out;
            margin-left: -10%;
            margin-top: -10%;
        }

        span {
            opacity: 1;
            background-color: rgba(30, 144, 255, 0.7);
            transition: all 0.1s ease-in-out;
        }
    }

    input[type="checkbox"] {
        display: none;
    }

    input[type="checkbox"]:checked + label {
        outline: none;

        x-pnav {
            background-color: rgba(30, 144, 255, 0.9);
            transition: opacity 0.1s ease-in-out;
            opacity: 1;

            a {
                display: block;
            }
        }
    }
}

.projectBrowser {
    position: relative;
    background: #eeeeee;
    border-radius: 25px;
    height: 500px;
    width: 100%;
    overflow: hidden;


    ul {
        display: inline-block;
        margin: 0;
        padding: 0;
        height: 100%;
        border-right: 1px solid gray;

        li {
            position: relative;
            list-style: none;
            margin: 0;
            padding: 10px;
            margin-left: 0;
            margin-right: 15px;
            transition: all 0.5s ease-in-out;
            cursor: pointer;
        }

        li::before {
            position: absolute;
            left: -15px;
            bottom: 0px;
            content: "";
            display: block;
            width: 0;
            height: 2px;
            background: rgb(0,18,89);
            background: -moz-linear-gradient(80deg, rgba(0,18,89,1) 2%, rgba(19,5,175,1) 5%, rgba(86,12,170,1) 20%, rgba(10,164,125,1) 45%, rgba(10,164,125,1) 55%, rgba(86,12,170,1) 80%, rgba(19,5,175,1) 95%, rgba(0,18,89,1) 98%);
            background: -webkit-linear-gradient(80deg, rgba(0,18,89,1) 2%, rgba(19,5,175,1) 5%, rgba(86,12,170,1) 20%, rgba(10,164,125,1) 45%, rgba(10,164,125,1) 55%, rgba(86,12,170,1) 80%, rgba(19,5,175,1) 95%, rgba(0,18,89,1) 98%);
            background: linear-gradient(80deg, rgba(0,18,89,1) 2%, rgba(19,5,175,1) 5%, rgba(86,12,170,1) 20%, rgba(10,164,125,1) 45%, rgba(10,164,125,1) 55%, rgba(86,12,170,1) 80%, rgba(19,5,175,1) 95%, rgba(0,18,89,1) 98%);
            transition: all 0.5s ease-in-out;
        }

        li:hover {
            margin-left: 15px;
            margin-right: 0;
            transition: all 0.1s ease-in-out;
            color: rgba(19,5,175,1);
        }

        li:hover::before {
            width: 100%;
            transition: all 0.1s ease-in-out;
        }
    }

    div {
        display: none;
        vertical-align: top;
        padding: 10px;
    }
}