html {
  overflow-x: hidden;
  min-width: 300px; }

html::-webkit-scrollbar-track {
  background-color: #ccc;
  border-radius: 10px; }

html::-webkit-scrollbar {
  width: 4px;
  background-color: #ccc; }

html::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #222;
  z-index: 110; }

a {
  color: royalblue; }

a:hover {
  color: deepskyblue; }

hr {
  border-width: 0.5px;
  border-color: dodgerblue;
  box-shadow: #dedede 0 1px 1px; }

iframe {
  border: none; }

hr.style-six {
  border: 0;
  height: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3); }

body {
  margin: 0;
  background-color: white;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas: "header" "main";
  grid-template-rows: 200px auto; }

header {
  overflow: hidden;
  grid-area: header;
  /*background: rgb(0,18,89);
    background: -moz-linear-gradient(80deg, rgba(0,18,89,1) 2%, rgba(19,5,175,1) 5%, rgba(86,12,170,1) 20%, rgba(10,164,125,1) 45%, rgba(10,164,125,1) 55%, rgba(86,12,170,1) 80%, rgba(19,5,175,1) 95%, rgba(0,18,89,1) 98%);
    background: -webkit-linear-gradient(80deg, rgba(0,18,89,1) 2%, rgba(19,5,175,1) 5%, rgba(86,12,170,1) 20%, rgba(10,164,125,1) 45%, rgba(10,164,125,1) 55%, rgba(86,12,170,1) 80%, rgba(19,5,175,1) 95%, rgba(0,18,89,1) 98%);
    background: linear-gradient(80deg, rgba(0,18,89,1) 2%, rgba(19,5,175,1) 5%, rgba(86,12,170,1) 20%, rgba(10,164,125,1) 45%, rgba(10,164,125,1) 55%, rgba(86,12,170,1) 80%, rgba(19,5,175,1) 95%, rgba(0,18,89,1) 98%);*/
  background: #1000ff;
  background: -moz-linear-gradient(80deg, #1000ff 0%, #0092ff 8%, #29d6d6 45%, #29d6d6 55%, #0092ff 92%, #1000ff 100%);
  background: -webkit-linear-gradient(80deg, #1000ff 0%, #0092ff 8%, #29d6d6 45%, #29d6d6 55%, #0092ff 92%, #1000ff 100%);
  background: linear-gradient(80deg, #1000ff 0%, #0092ff 8%, #29d6d6 45%, #29d6d6 55%, #0092ff 92%, #1000ff 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#1000ff",endColorstr="#1000ff",GradientType=1);
  z-index: 110; }
  header h1 {
    position: absolute;
    width: 100%;
    text-align: center;
    color: white;
    top: 30vh;
    font-size: 15vw;
    text-shadow: 0px 0px 30px black; }
  @media screen and (min-width: 1200px) {
    header h1 {
      font-size: 150pt; } }
  header div#headerBGImage {
    overflow: hidden;
    display: none;
    position: absolute;
    width: 100%;
    height: 80vh;
    background-attachment: fixed;
    background-position-x: center;
    background-position-y: -10vh;
    background-size: cover; }
  header div#bannerCover {
    display: none;
    position: absolute;
    width: 100%;
    height: 80vh;
    background-color: midnightblue;
    opacity: 0.1; }
  header div.endevLogo {
    position: absolute;
    margin: 5px;
    animation: endevLogoFadeIn;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
    background-repeat: no-repeat;
    z-index: 121; }
  header div.endevLogoSticky {
    position: fixed;
    left: 20px;
    top: 0;
    height: 40px;
    margin: 5px;
    opacity: 1;
    display: none;
    animation: endevLogoFadeIn;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
    background-size: auto 40px;
    background-repeat: no-repeat;
    z-index: 121; }

@keyframes endevLogoFadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

header.sticky {
  height: 50px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-position: bottom;
  background-size: 100vw 200px; }

main {
  grid-area: main;
  background-color: white;
  min-height: 100vh;
  margin-bottom: 200px;
  z-index: 100;
  box-sizing: border-box; }

article {
  padding: 0 2%; }

nav {
  transition: width 0.2s ease-in-out; }
  nav div.fullWidthMenu, nav div.mobileMenu {
    box-sizing: border-box;
    z-index: 120;
    background: black;
    background: -moz-linear-gradient(90deg, transparent 0%, rgba(0, 0, 0, 0.5) 5%);
    background: -webkit-linear-gradient(90deg, transparent 0%, rgba(0, 0, 0, 0.5) 5%);
    background: linear-gradient(90deg, transparent 0%, rgba(0, 0, 0, 0.5) 5%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000",endColorstr="#000000",GradientType=1);
    color: #eee;
    padding-left: 50px; }
    nav div.fullWidthMenu a, nav div.mobileMenu a {
      font-weight: bolder;
      color: #ccc;
      text-decoration: none;
      text-align: center;
      display: inline-block;
      margin: 0;
      transition: color 0.4s ease-in-out; }
    nav div.fullWidthMenu a:hover, nav div.mobileMenu a:hover {
      transition: color 0.1s ease-in-out;
      color: #fff; }
  nav div.mobileMenu {
    position: relative;
    font-size: 20pt;
    padding: 0 20px;
    width: 100%;
    box-sizing: border-box; }
    nav div.mobileMenu span {
      width: calc(100% - 20px);
      text-align: center;
      display: inline-block;
      box-sizing: border-box; }
    nav div.mobileMenu a {
      right: 0;
      width: 20px;
      display: inline-block;
      text-align: right; }
    nav div.mobileMenu input {
      display: none; }
    nav div.mobileMenu div.mobileMenuOverlay {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: rgba(0, 0, 0, 0.96);
      display: none;
      z-index: 200; }
      nav div.mobileMenu div.mobileMenuOverlay a {
        width: 100%;
        line-height: 12vh;
        height: 12vh;
        display: block;
        text-align: center; }
      nav div.mobileMenu div.mobileMenuOverlay label {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0; }
        nav div.mobileMenu div.mobileMenuOverlay label a {
          color: white; }

nav.default {
  position: absolute; }

nav.sticky {
  position: fixed; }

footer {
  position: fixed;
  background-color: #111;
  color: #555;
  bottom: 0;
  left: 0;
  right: 0;
  height: 200px;
  z-index: 90;
  padding: 20px 10%;
  box-sizing: border-box; }
  footer span {
    display: block;
    width: 100%; }
  footer div {
    display: block;
    width: 100%;
    display: flex;
    align-content: space-evenly; }
    footer div p {
      color: #666;
      width: 30%; }
      footer div p a {
        color: #777;
        text-decoration: none;
        margin-left: 10px; }
        footer div p a i {
          margin-right: 10px;
          transition: margin-right 0.3s ease-in-out; }
      footer div p a:hover i {
        margin-right: 20px;
        transition: margin-right 0.1s ease-in-out; }

aside {
  position: absolute;
  white-space: nowrap;
  overflow: hidden;
  transition: top 0.005s linear, width 0.3s ease-in-out;
  background-color: rgba(255, 255, 255, 0.8);
  box-sizing: border-box;
  border: 1px solid gainsboro;
  border-radius: 20px;
  margin-top: 20vh;
  left: 10px;
  z-index: 115; }
  aside ul {
    padding: 0; }
    aside ul li {
      position: relative;
      transition: all 0.3s ease-in-out;
      cursor: pointer;
      list-style: none;
      margin: 25px 20px;
      color: black; }
      aside ul li span {
        transition: all 0.2s ease-in-out; }
      aside ul li i {
        width: 20px;
        color: royalblue;
        transition: all 0.1s ease-in-out; }
    aside ul li:hover {
      color: deepskyblue; }
      aside ul li:hover i {
        color: dodgerblue; }
    aside ul li::before {
      position: absolute;
      left: -15px;
      bottom: -8px;
      content: "";
      display: block;
      width: 0;
      height: 2px;
      background: #1000ff;
      background: -moz-linear-gradient(45deg, #1000ff 0%, #0092ff 8%, #29d6d6 45%, #29d6d6 55%, #0092ff 92%, #1000ff 100%);
      background: -webkit-linear-gradient(45deg, #1000ff 0%, #0092ff 8%, #29d6d6 45%, #29d6d6 55%, #0092ff 92%, #1000ff 100%);
      background: linear-gradient(45deg, #1000ff 0%, #0092ff 8%, #29d6d6 45%, #29d6d6 55%, #0092ff 92%, #1000ff 100%);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#1000ff",endColorstr="#1000ff",GradientType=1);
      transition: all 0.5s ease-in-out; }
    aside ul li:hover::before {
      width: 100%;
      transition: all 0.1s ease-in-out; }

@media only screen and (min-width: 1100px) {
  aside {
    width: 200px;
    min-height: 200px; }
    aside ul li span {
      opacity: 1; }
    aside ul li i {
      font-size: 12pt;
      display: block;
      width: 20px;
      text-align: center; }
    aside ul li::before {
      left: -15px;
      bottom: -8px; }
    aside ul li:hover {
      margin-left: 30px;
      margin-right: 0;
      transition: all 0.1s ease-in-out; } }

table tr td {
  border-right: 1px solid gainsboro;
  border-bottom: 1px solid gainsboro;
  padding: 5px 10px; }

table tr td:last-of-type {
  border-right: none; }

table tr:last-of-type td {
  border-bottom: none; }

x-md {
  width: 100%;
  display: block; }
  x-md img {
    width: auto;
    max-width: 100%; }
  x-md pre {
    background-color: gainsboro;
    border-radius: 5px;
    padding: 5px;
    box-sizing: border-box;
    overflow-x: scroll; }
    x-md pre code {
      font-family: Consolas, monospace; }
