.breakpointCheck {
  display: none;
  content: 'Mobile'; }

header div.endevLogo {
  left: 20px;
  top: 50px;
  height: 40px;
  width: 193px;
  background-size: auto 40px;
  background-image: url("../../content/EndevLogo.svg");
  z-index: 121; }

header div.endevLogoSticky {
  background-image: url("../../content/EndevLogo.svg");
  width: 40px; }

header .mobileLogo {
  display: block; }

main {
  padding: 20px 0; }

nav {
  width: 100%; }
  nav div.fullWidthMenu {
    display: none; }
  nav div.mobileMenu {
    display: block; }

aside {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  height: 70px;
  background-color: white;
  border: none;
  border-radius: 0;
  margin: 0;
  border-top: 1px solid #222;
  overflow-x: scroll; }
  aside ul {
    display: flex;
    justify-content: space-evenly; }
    aside ul li {
      margin: 0 0;
      display: inline-block; }
      aside ul li span {
        opacity: 0;
        display: none; }
      aside ul li i {
        width: auto;
        padding: 0 10px;
        font-size: 22pt;
        display: block;
        margin: 0 auto;
        text-align: center; }
    aside ul li::before {
      position: absolute;
      left: 0px;
      bottom: -8px;
      height: 2px; }
