@import '-commonVariables';
@import '-commonMixins';

$defaultHeaderHeight: 200px;
$defaultFooterHeight: 200px;
$defaultNavHeight: 50px;
$defaultNavTopOffset: 50px;

$defaultLogoTopOffset: 50px;
$defaultLogoLeftOffset: 50px;
$defaultLogoHeight: 100px;

html {
    font-size: 11pt;
}

.breakpointCheck {
    display: none;
    content: 'Mobile';
}

header {
    div.endevLogo {
        left: 20px;
        top: $defaultNavTopOffset;
        height: #{$defaultNavHeight - 10px};
        width: $defaultNavHeight * $fullLogoDimensionRatio;
        background-size: auto #{$defaultNavHeight - 10px};
        background-image: url("../../content/EndevLogo.svg");
        z-index: 121;
    }

    div.endevLogoSticky {
        background-image: url("../../content/EndevLogo.svg");
        width: 40px;
    }

    .mobileLogo {
        display: block;
        max-height: 340px;
        width: 80%;
    }
}

main {
    padding: 20px 0;
}

nav {
    width: 100vw;

    div.fullWidthMenu {
        display: none;
    }

    div.mobileMenu {
        display: block;
    }
}

aside {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    height: 70px;
    background-color: white;
    border: none;
    border-radius: 0;
    margin: 0;
    border-top: 1px solid #222;
    overflow-x: scroll;

    ul {
        display: flex;
        justify-content: space-evenly;
        width: 700px;
        li {
            margin: 0 0;
            display: inline-block;

            span {
                opacity: 0;
                display: none;
            }

            i {
                width: auto;
                padding: 0 10px;
                font-size: 2em;
                display: block;
                margin: 0 auto;
                text-align: center;
            }
        }

        li::before {
            position: absolute;
            left: 0px;
            bottom: -8px;
            height: 2px;
        }
    }
}

footer {
    overflow-y: scroll;
    font-size: 0.8em;
    padding-bottom: 100px;
    div {
        //display: block;
        flex-wrap: wrap;

        p {
            display: block;
            width: 50%;
        }

        form {
            display: block;
            width: 50%;
            margin-top: 30px;
        }
    }
}