.cookieNotify {
  top: 20%;
  bottom: 20%;
  left: 10%;
  right: 10%;
  box-shadow: #333 0 0 30px;
  border-radius: 15%;
  padding: 10px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  min-width: 260px; }
  .cookieNotify div {
    margin: 0 auto;
    display: block;
    text-align: center; }
    .cookieNotify div h6 {
      text-align: center;
      margin-bottom: 5px;
      margin-left: 0;
      white-space: nowrap;
      font-size: 2em; }
    .cookieNotify div a {
      color: white; }
  .cookieNotify button {
    display: block;
    margin: 0 auto; }

.servicesContainer {
  margin-left: 0; }
  .servicesContainer .serviceBoxes div {
    width: 280px; }

.featuredSlideContainer {
  margin-left: 0;
  height: 400px; }
  .featuredSlideContainer .featureSlide .textContainer {
    top: 20px;
    left: 20px;
    width: 90%; }
    .featuredSlideContainer .featureSlide .textContainer h1 {
      font-size: 3em;
      margin: 5px 0; }
    .featuredSlideContainer .featureSlide .textContainer p {
      font-size: 1.5em; }
  .featuredSlideContainer .featureSlide a.featureButton {
    width: auto; }
  .featuredSlideContainer .featureSlide a.featureButton:first-of-type {
    font-size: 1.2em;
    bottom: 80px;
    left: 30px;
    padding: 3px 15px; }
  .featuredSlideContainer .featureSlide a.featureButton:nth-of-type(2) {
    font-size: 1.2em;
    bottom: 40px;
    left: 30px;
    padding: 3px 15px; }

.indexTitleContainer h1 {
  font-size: 2.8em; }
  .indexTitleContainer h1 img {
    height: 55px;
    margin-bottom: -12px; }

.homeSubarticle2 a {
  display: block;
  width: 200px;
  margin: 0 auto;
  font-size: 1.2em;
  padding: 6px 12px; }

.homeSubarticle2 em {
  font-size: 1.2em;
  margin: 0 5px; }

.supportCategoryContainer a {
  width: 240px;
  height: auto; }

.downloadProjectRaster .rasterBox {
  margin: 10px 5px; }
  .downloadProjectRaster .rasterBox img {
    max-width: 250px; }
