.cookieNotify {
    height: 140px;
    bottom: 0;
    left: 0;
    right: 0;
    box-shadow: #333 0 -15px 30px;
    padding: 10px 50px 30px;
    display: flex;
    justify-content: flex-start;
    align-items: center;

    div {
        margin: 0 30px;

        h6 {
            margin-bottom: 5px;
            margin-left: 50px;
            white-space: nowrap;
        }
    }
}

.servicesContainer {
    margin-left: -20vw;

    .serviceBoxes {
        div {
            width: 300px;
        }
    }
}

.featuredSlideContainer {
    margin-left: -20vw;
    height: 700px;

    .featureSlide {
        .textContainer {
            top: 15%;
            left: 15%;
            width: 50%;

            h1 {
                font-size: 6em;
            }

            p {
                font-size: 2.8em;
            }
        }

        a.featureButton {
            width: 250px;
        }

        a.featureButton:first-of-type {
            font-size: 2.5em;
            right: 50px;
            top: 200px;
            padding: 8px 25px;
        }

        a.featureButton:nth-of-type(2) {
            font-size: 2.2em;
            right: 50px;
            top: 350px;
            padding: 8px 25px;
        }
    }
}

.indexTitleContainer {
    h1 {
        font-size: 4em;

        img {
            height: 80px;
            margin-bottom: -20px;
        }
    }
}


.homeSubarticle2 {
    a {
        font-size: 1.6em;
        padding: 10px 20px;
    }

    em {
        font-size: 1.5em;
        margin: 0 30px;
    }
}

.supportCategoryContainer {
    a {
        width: 300px;
        height: 140px;
    }
}

.downloadProjectRaster {
    .rasterBox {
        margin: 20px 10px;

        img {
            max-width: 300px;
        }
    }
}