.cookieNotify {
  height: 140px;
  bottom: 0;
  left: 0;
  right: 0;
  box-shadow: #333 0 -15px 30px;
  padding: 10px 20px 30px;
  display: flex;
  justify-content: flex-start;
  align-items: center; }
  .cookieNotify div {
    margin: 0 30px; }
    .cookieNotify div h6 {
      margin-bottom: 5px;
      margin-left: 50px;
      white-space: nowrap; }

.servicesContainer {
  margin-left: -20vw; }

.featuredSlideContainer {
  margin-left: -20vw;
  height: 600px; }
  .featuredSlideContainer .featureSlide .textContainer {
    top: 10%;
    left: 10%;
    width: 50%; }
    .featuredSlideContainer .featureSlide .textContainer h1 {
      font-size: 4em; }
    .featuredSlideContainer .featureSlide .textContainer p {
      font-size: 2em; }
  .featuredSlideContainer .featureSlide a.featureButton {
    width: auto; }
  .featuredSlideContainer .featureSlide a.featureButton:first-of-type {
    font-size: 1.8em;
    bottom: 80px;
    left: 70px;
    padding: 6px 20px; }
  .featuredSlideContainer .featureSlide a.featureButton:nth-of-type(2) {
    font-size: 1.8em;
    bottom: 80px;
    right: 70px;
    padding: 6px 20px; }
