.cookieNotify {
    height: 140px;
    bottom: 0;
    left: 0;
    right: 0;
    box-shadow: #333 0 -15px 30px;
    padding: 10px 50px 30px;
    display: flex;
    justify-content: flex-start;
    align-items: center;

    div {
        margin: 0 30px;

        h6 {
            margin-bottom: 5px;
            margin-left: 50px;
            white-space: nowrap;
        }
    }
}

.servicesContainer {
    margin-left: -20vw;
}

.featuredSlideContainer {
    margin-left: -20vw;
}