<!DOCTYPE html>
<html>
<head>
    @RenderPage("~/Shared/Templates/_DefaultLinks.cshtml");
    <link href="~/Shared/Styles/layoutStartPage.css" rel="stylesheet" />
</head>
<body>
    <header>
        <img class="endevLogo" id="endevLogo" src="~/Content/EndevBanner.png" alt="Endev" />
        <img class="endevLogoSticky" id="endevLogoSticky" src="~/Content/EndevBanner.png" alt="Endev" />
        @RenderPage("~/Shared/Templates/_Menu.cshtml");
    </header>
    <main>@RenderBody()</main>
    @RenderPage("~/Shared/Templates/_Footer.cshtml");
</body>
</html>