<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Endix Development</title>
    <link href="~/Shared/Styles/style.css" rel="stylesheet" />
    <link href="~/Shared/Styles/layoutGeneral.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <script>
        window.onload = function () {
            SetPageLayout();
        }

        window.addEventListener('scroll', function () {
            SetPageLayout();
        });

        function SetPageLayout(isOnLoad)
        {
            if (window.scrollY > 50)
            {
                this.document.getElementsByTagName("header")[0].className = "headerTopMost";
                this.document.getElementsByClassName("navigateToTop")[0].style.right = "40px";
            }
            else
            {
                this.document.getElementsByTagName("header")[0].className = "headerDefault";
                this.document.getElementsByClassName("navigateToTop")[0].style.right = "-80px";
            }


            if (this.window.scrollY / 2 <= 2000)
                this.document.getElementsByTagName("header")[0].style.backgroundPositionY = -(this.window.scrollY / 2) + "px";
        }
    </script>

</head>
<body>

    <header class="headerDefault">
        <div class="endevHeaderLogo">
            <a href="~/">
                <img src="https://development.endix.at/wp-content/uploads/2019/12/EndevBannerS.png" alt="Endev" />
            </a>
        </div>
        <nav>
            @*<a href="~/">Home</a>
        <a href="~/">Projects</a>
        <a href="~/">Support</a>
        <a href="~/">Downloads</a>
        <a href="~/">Contact</a>
        <a href="~/">More</a>*@

            <a href="~/">Home</a>
            <a href="~/">S. Project</a>
            <a href="~/">A. Project</a>
            <a href="~/">Content</a>
        </nav>

    </header>
    <a name="top"></a>
    <main>@RenderBody()</main>
    <a href="#top"><div class="navigateToTop"><i class="fa fa-chevron-up"></i></div></a>
    <footer>
    </footer>
</body>
</html>
