<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Endix Development</title>
    <link href="~/Shared/Styles/style.css" rel="stylesheet" />
    <link href="~/Shared/Styles/layoutGeneral.css" rel="stylesheet" />
    <link href="~/Shared/Styles/layoutAdvancedProject.css" rel="stylesheet" />
    <link href="~/Shared/Styles/menu.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <script src="~/Shared/Scripts/ScrollActions.js"></script>
</head>
<body>
    <header class="headerDefault">
        <div class="endevHeaderLogo">
            <a href="~/">
                <img src="https://development.endix.at/wp-content/uploads/2019/12/EndevBannerS.png" alt="Endev" />
            </a>
        </div>
        @RenderPage("~/Shared/Templates/_Menu.cshtml");
    </header>
    <a name="top"></a>
    <main>
        @RenderBody()
    </main>
    <a href="#top"><div class="navigateToTop"><i class="fa fa-chevron-up"></i></div></a>
    @RenderPage("~/Shared/Templates/_Footer.cshtml");
</body>
</html>
